extends layout

block content
    h1= title
    .container-fluid.h-100
        .row.justify-content-center.h-100
            .col-md-4.col-xl-3.chat
                .card.mb-sm-3.mb-md-0.contacts_card
                    .card-header
                        .input-group
                            input.form-control.search(type='text' placeholder='Search...' name='')
                            .input-group-prepend
                                span.input-group-text.search_btn
                                    i.fas.fa-search
                    .card-body.contacts_body
                        ui.contacts
                            each user in users
                                li
                                    .d-flex.bd-highlight
                                        .img_cont
                                            img.rounded-circle.user_img(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
                                            span.online_icon
                                        .user_info
                                            span
                                                = user.username
                                            p
                                                = `${user.username} is online`
                    .card-footer
            .col-md-8.col-xl-6.chat
                .card
                    .card-header.msg_head
                        .d-flex.bd-highlight
                            .img_cont
                                img.rounded-circle.user_img(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
                                span.online_icon
                            .user_info
                                span
                                    = reqUser.username
                                p 1767 Messages
                        span#action_menu_btn
                            a(href="/auth/logout")
                                i.fas.fa-sign-out-alt
                    .card-body.msg_card_body(id="message-container")
                        each message in messages
                            .d-flex.justify-content-start.mb-4
                                .img_cont_msg
                                    img.rounded-circle.user_img_msg(src='https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg')
                                .msg_cotainer
                                    = `${message.User.username}: ${message.content}`
                                    span.msg_time
                                        = message.createdAt.toISOString()
                    .card-footer
                        form(action="/users/messages/create", method="post", id="submitMessageForm")
                            .input-group
                                .input-group-append
                                    span.input-group-text.attach_btn
                                        i.fas.fa-paperclip
                                textarea.form-control.type_msg(id="content_input", name='content' placeholder='Type your message...')
                                .input-group-append
                                    span.input-group-text.send_btn
                                        button(type="submit")
                                            i.fas.fa-location-arrow()
    if reqUser.role === "admin"
        h2 Users
            div(class="col-md-4")
                h2 Create user

                form(action="/admin/create", method="post", class="well")
                    div(class="form-group")
                        label(for="username")
                            | Username
                        input(type="text", name="username", class="form-control")
                        label(for="password")
                            | Password
                        input(type="password", name="password", class="input-sm form-control")
                    input(type="submit" class= "btn btn-default")

            div(class="col-md-6")

                ul
                    each user in users
                        li
                            strong
                                = user.username
                            | &nbsp;
                            form(action="/admin/" + user.id + "/destroy", method="post")
                                input(type="submit" class="btn btn-xs btn-warning" value="delete")
    script.
        let ws = new WebSocket('ws://localhost:3000');
        const messageContainer = $("#message-container");

        ws.onopen = () => {
            console.log('open connection')
        }

        ws.onclose = () => {
            console.log('close connection')
        }

        //接收 Server 發送的訊息
        ws.onmessage = event => {
            const data = JSON.parse(event.data);
            if (data[0] === 'NewMessage') {
                const content = `
                    <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg">
                    <img class="rounded-circle user_img_msg" src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg">
                    </div><div class="msg_cotainer">${data[2]}: ${data[1]}<span class="msg_time">${data[3]}</span></div></div>
                    `
                messageContainer.append(content);
                messageContainer.scrollTop(messageContainer.prop("scrollHeight"));
            }
        }

    script.
        $("#submitMessageForm").on("submit", function (event) {
            event.preventDefault();
            var form = $(this);
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
            });
            $("#content_input").val('');
        });
